<!-- <div class="container card-color">
  <div class="row ">


    <div class="d-flex col-12 col-md-3 m-2 m-md-0">
      <div class="dropdown">
        <button class="btn btn-primary fw-bold text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Seleziona un simbolo:
        </button>
        <ul class="dropdown-menu custom-dropdown-menu">
          <li *ngFor="let stock of stocks">
            <button class="dropdown-item" (click)="selectStock(stock.symbol)">{{ stock.symbol }}</button>
          </li>
        </ul>
      </div>
    </div>


  <div class="d-flex justify-content-md-end justify-content-between col-12 col-md-9 btn-group " role="group"
  aria-label="Interval Selection">
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2 " [class.selected]="selectedInterval === '1min'" (click)="onIntervalChange('1min')">1Min</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '5min'" (click)="onIntervalChange('5min')">5Min</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '15min'" (click)="onIntervalChange('15min')">15Min</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '30min'" (click)="onIntervalChange('30min')">30Min</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '1h'" (click)="onIntervalChange('1h')">1H</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '4h'" (click)="onIntervalChange('4h')">4H</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '1day'" (click)="onIntervalChange('1day')">1D</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '1week'" (click)="onIntervalChange('1week')">1W</p>
  <p class="m-1 m-lg-2 p-0 fs-1 fs-lg-2" [class.selected]="selectedInterval === '1month'" (click)="onIntervalChange('1month')">1M</p>
</div>





  </div> 
  <div class="col-12 mt-2">
    <canvas id="myChart" width="100"></canvas>
  </div> -->

  <!-- <div class="col-12 border-top p-0">
    <div class="card card-color mx-md-3 border-0 my-3 p-md-2">
      <div class="row g-0 text-white">
        <div class="col-12 col-md-3 align-content-around text-center p-0 logo">
          <img class="w-25 w-md-75 w-lg-25" [src]="logoUrl" alt="Stock Icon" />
        </div>
        <div class="col-12 col-md-9 d-flex mt-2 mt-md-0">
          <div class="col-4 align-content-center justify-content-center text-center p-0">
            <h5 class="fw-bold fs-1 fs-md-3 fs-lg-4" [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">
              Tempo reale</h5>
            <div class="fw-bolder m-0 fs-1 text-center fs-md-3 fs-lg-4 d-flex justify-content-center">
              <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4"
                [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">$ {{price}}</p>
              <span class="me-0" *ngIf="stock?.increased" style="color: #00A68C; margin: 0 10px; float: right;">▲</span>
              <span class="me-0" *ngIf="!stock?.increased"
                style="color: #D9475A; margin: 0 10px; float: right;">▼</span>
            </div>
          </div>
          <div class="col-4 align-content-center text-center">
            <h5 class="fs-1 fs-md-3 fs-lg-4">Prezzo medio</h5>
            <p class="fw-bolder fs-1 m-0 fs-md-3 fs-lg-4">$ {{averagePrice}}</p>
          </div>
          <div class="col-4 align-content-center text-center">
            <h5 class="fs-1 fs-md-3 fs-lg-4">Miglior Prezzo</h5>
            <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4">$ {{bestPrice}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

 -->


  <!------------------------- VERSIONE CON 2 COL-2 E 2 COL ------------------------>

 <!-- <div class="col-12 border-top p-0">
  <div class="card card-color mx-md-3 border-0 my-3 p-md-2">
    <div class="row g-0 text-white justify-content-between">
      <div class="col-6 col-md-3 align-content-around text-center p-0 logo">
        <img class="w-50 w-md-75 w-lg-25" [src]="logoUrl" alt="Stock Icon" />
      </div>
      
      <div class="col-6 col-md-3 align-content-center justify-content-center text-center p-0">
          <h5 class="fw-bold fs-1 fs-md-3 fs-lg-4" [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">
            Tempo reale</h5>
          <div class="fw-bolder m-0 fs-1 text-center fs-md-3 fs-lg-4 d-flex justify-content-center">
            <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4"
              [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">$ {{price}}</p>
            <span class="me-0" *ngIf="stock?.increased" style="color: #00A68C; margin: 0 10px; float: right;">▲</span>
            <span class="me-0" *ngIf="!stock?.increased"
              style="color: #D9475A; margin: 0 10px; float: right;">▼</span>
          </div>
        </div>

      <div class="col-12 col-md-6 d-flex mt-2 mt-md-0 justify-content-between">
     
        <div class="col-6 align-content-center text-center">
          <h5 class="fs-1 fs-md-3 fs-lg-4">Prezzo medio</h5>
          <p class="fw-bolder fs-1 m-0 fs-md-3 fs-lg-4">$ {{averagePrice}}</p>
        </div>
        <div class="col-6 align-content-center text-center">
          <h5 class="fs-1 fs-md-3 fs-lg-4">Miglior Prezzo</h5>
          <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4">$ {{bestPrice}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->


  <!------------------------- VERSIONE CON TUTTO IN COL ORIZZONTALE ------------------------>
 <!-- <div class="col-12 border-top p-0">
  <div class="card card-color mx-md-3 border-0 my-3 p-0 ">
    <div class="row g-0 text-white justify-content-center">
      <div class="col-2  align-content-around text-center p-0 logo">
        <img class="border-white border border-1 rounded-3 w-75 w-md-50 w-lg-35" [src]="logoUrl" alt="Stock Icon" />
      </div> -->
      
      <!-- <div class="col-3 align-content-center justify-content-center text-center p-0">
          <h5 class="fw-bold fs-1 fs-md-3 fs-lg-4" [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">
            Tempo reale</h5>
          <div class="fw-bolder m-0 fs-1 text-center fs-md-3 fs-lg-4 d-flex justify-content-center">
            <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4"
              [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">$ {{price}}</p>
            <span class="me-0" *ngIf="stock?.increased" style="color: #00A68C; margin: 0 10px; float: right;">▲</span>
            <span class="me-0" *ngIf="!stock?.increased"
              style="color: #D9475A; margin: 0 10px; float: right;">▼</span>
          </div>
        </div>

      <div class="col-6 d-flex mt-2 mt-md-0 ">
     
        <div class="col-6 align-content-center text-center">
          <h5 class="fs-1 fs-md-3 fs-lg-4">Prezzo medio</h5>
          <p class="fw-bolder fs-1 m-0 fs-md-3 fs-lg-4">$ {{averagePrice}}</p>
        </div>
        <div class="col-6 align-content-center text-center">
          <h5 class="fs-1 fs-md-3 fs-lg-4">Miglior Prezzo</h5>
          <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4">$ {{bestPrice}}</p>
        </div> -->
        
        
        <!-- PROVA FUNZIONANTE DEL11/06/2024 22:30 
        
        <div class="col-3 align-content-center justify-content-center text-center p-0">
          <h5 class="fw-bold fs-1 fs-md-3 fs-lg-4" [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">
            Tempo reale</h5>
          <div class="fw-bolder m-0 fs-1 text-center fs-md-3 fs-lg-4 d-flex justify-content-center">
            <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4"
              [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">$ {{price | number:'1.0-2'}}</p>
            <span class="me-0" *ngIf="stock?.increased" style="color: #00A68C; margin: 0 10px; float: right;">▲</span>
            <span class="me-0" *ngIf="!stock?.increased"
              style="color: #D9475A; margin: 0 10px; float: right;">▼</span>
          </div>
        </div>
        
        <div class="col-3 align-content-center text-center">
          <h5 class="fs-1 fs-md-3 fs-lg-4">Prezzo medio</h5>
          <p class="fw-bolder fs-1 m-0 fs-md-3 fs-lg-4">$ {{averagePrice | number:'1.0-2'}}</p>
        </div>
        <div class="col-3 align-content-center text-center">
          <h5 class="fs-1 fs-md-3 fs-lg-4">Miglior Prezzo</h5>
          <p class="fw-bolder m-0 fs-1 fs-md-3 fs-lg-4">$ {{bestPrice | number:'1.0-2'}}</p>
        </div>



      </div>
    </div>
  </div>
</div>
-->


<!-- ----------------------PROVA  ------------------------ -->

<div class="container card-color ">
  <div class="row ">
      <!-- Icona della stella per salvare nei preferiti -->
      <div class="d-none col-12 d-lg-flex align-items-center justify-content-end">
        <div class="star" (click)="toggleFavorite(stock)">
          <i class="fa" [ngClass]="{'fa-star': stock.favorite, 'fa-star-o': !stock.favorite}"></i>
        </div>
      </div>
    <div class="d-flex justify-content-between  col-12 col-lg-3 m-0">
      <div class="dropdown">
        <button class="btn btn-primary fw-bold text-white dropdown-toggle fs-1 fs-lg-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Seleziona un simbolo
        </button>
        <ul class="dropdown-menu custom-dropdown-menu">
          <li *ngFor="let stock of stocks">
            <button class="dropdown-item" (click)="selectStock(stock.symbol)">{{ stock.symbol }}</button>
          </li>
        </ul>
      </div>
      <div class="d-lg-none d-flex align-items-center justify-content-start m-2">
        <div class="star" (click)="toggleFavorite(stock)">
          <i class="fa" [ngClass]="{'fa-star': stock.favorite, 'fa-star-o': !stock.favorite}"></i>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-lg-end justify-content-between col-12 col-lg-9 btn-group" role="group" aria-label="Interval Selection">
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '1min'" (click)="onIntervalChange('1min')">1Min</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '5min'" (click)="onIntervalChange('5min')">5Min</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '15min'" (click)="onIntervalChange('15min')">15Min</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '30min'" (click)="onIntervalChange('30min')">30Min</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '1h'" (click)="onIntervalChange('1h')">1H</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '4h'" (click)="onIntervalChange('4h')">4H</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '1day'" (click)="onIntervalChange('1day')">1D</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '1week'" (click)="onIntervalChange('1week')">1W</p>
      <p class="m-1 m-lg-2 p-0 fs-1" [class.selected]="selectedInterval === '1month'" (click)="onIntervalChange('1month')">1M</p>
    </div>
  </div> 

  <div class="col-12 mt-2">
    <canvas id="myChart" width="100"></canvas>
  </div>

  <div class="col-12 border-top p-0">
    <div class="card card-color mx-md-3 border-0 my-3 p-0 ">
      <div class="row g-0 text-white justify-content-around">
        <div class="col-2 align-content-around text-center p-0 logo">
          <img class="border-white border border-1 rounded-3 w-75 w-md-50 w-lg-35" [src]="logoUrl" alt="Stock Icon" />
        </div>
        
        <div class="col-3 align-content-center justify-content-center text-center p-0">
          <h5 class="fw-bold fs-sm-1 fs-5 fs-lg-2 " [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">
            Tempo reale
          </h5>
          <div class="fw-bolder m-0 fs-sm-1 fs-5 text-center fs-lg-2  d-flex justify-content-center">
            <p class="fw-bolder m-0 fs-sm-1 fs-5 fs-lg-2 " [ngStyle]="{'color': stock?.increased ? '#00A68C ' : '#D9475A'}">
              $ {{price | number:'1.0-2'}}
            </p>
            <span class="me-0" *ngIf="stock?.increased" style="color: #00A68C; margin: 0 10px; float: right;">▲</span>
            <span class="me-0" *ngIf="!stock?.increased" style="color: #D9475A; margin: 0 10px; float: right;">▼</span>
          </div>
        </div>
        
        <div class="col-3 align-content-center text-center">
          <h5 class="fs-sm-1 fs-5 fs-lg-2 ">Prezzo medio</h5>
          <p class="fw-bolder fs-sm-1 fs-5 m-0 fs-lg-2 ">$ {{averagePrice | number:'1.0-2'}}</p>
        </div>
        
        <div class="col-3 align-content-center text-center">
          <h5 class="fs-sm-1 fs-5 fs-lg-2 ">Miglior Prezzo</h5>
          <p class="fw-bolder m-0 fs-sm-1 fs-5 fs-lg-2 ">$ {{bestPrice | number:'1.0-2'}}</p>
        </div>

      
      </div>
    </div>
  </div>
<!-- 
  <div class="container">
    <div class="row">
        <app-stock-card *ngFor="let stock of stocks" [stock]="stock"></app-stock-card>
    </div>
</div> -->
</div>