<div class="rounded-4 mt-4 w-100 px-5 py-3 shadow custom-color">
  <h5>{{ 'CHECKOUT.RECHARGE_ACCOUNT' | translate }}</h5>
  <div class="form-floating my-3 me-3">
    <input class="form-control" type="number" id="rechargeAmount" name="rechargeAmount" [(ngModel)]="rechargeAmount" required min="0">
    <label for="rechargeAmount" class="label-custom">{{ 'CHECKOUT.AMOUNT' | translate }}</label>
  </div>
  <button type="button" class="btn btn-primary rounded-5" (click)="recharge()" ngbPopover="{{ 'CHECKOUT.RECHARGE' | translate }}" placement="right" triggers="manual" #rechargePopover="ngbPopover">{{ 'CHECKOUT.RECHARGE' | translate }}</button>
</div>

<div class="rounded-4 mt-4 w-100 px-5 py-3 shadow custom-color">
  <h5>{{ 'CHECKOUT.WITHDRAW_ACCOUNT' | translate }}</h5>
  <div class="form-floating my-3 me-3">
    <input class="form-control" type="number" id="withdrawAmount" name="withdrawAmount" [(ngModel)]="withdrawAmount" required min="0">
    <label for="withdrawAmount" class="label-custom">{{ 'CHECKOUT.AMOUNT' | translate }}</label>
  </div>
  <button type="button" class="btn btn-primary rounded-5" (click)="withdraw()" ngbPopover="{{ 'CHECKOUT.WITHDRAW' | translate }}" placement="right" triggers="manual" #withdrawPopover="ngbPopover">{{ 'CHECKOUT.WITHDRAW' | translate }}</button>
</div>

<div *ngIf="alertMessage" class="alert alert-success" role="alert" [ngClass]="{'show': alertMessage, 'fade': !alertMessage}">
  {{ alertMessage }}
</div>
