.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    color: white; /* Colore bianco per tutte le date */
}
.custom-day.focused {
    background-color: #e6e6e6;
    color: white; /* Colore bianco quando il giorno è focalizzato */
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white; /* Colore bianco quando il giorno è selezionato come parte di un range o quando è hoverato */
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
    color: white; /* Colore bianco quando il giorno è parte di un range non confermato */
}

.form-control{
    color: white;
   
}
button {
    position: relative;
    background: rgb(21,73,188);
    background: linear-gradient(90deg, rgba(21,73,188,1) 0%, rgba(25,118,210,1) 50%);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

// button::before {
//     content: '';
//     position: absolute;
//     top: -2px;
//     left: -2px;
//     right: -2px;
//     bottom: -2px;
//     background: linear-gradient(90deg, rgba(21,73,188,1) 0%, rgba(25,118,210,1) 50%);
//     z-index: -1;
//     border-radius: 4px;
// }

// button::after {
//     content: '';
//     position: absolute;
//     top: 2px;
//     left: 2px;
//     right: 2px;
//     bottom: 2px;
//     background: rgb(21,73,188);
//     z-index: -1;
//     border-radius: 2px;
// }