<div class="modal-header">
    <h4 class="modal-title">Conferma Prelievo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler prelevare {{ amount }} €?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Conferma</button>
  </div>
  