
<div *ngIf="alertMessage" class="alert alert-{{ alertType }} mt-2">
  {{ alertMessage }}
</div>

<div class="container text-white shadow p-0 ">
  <div class="row tr card-color border border-2 rounded-4 text-center justify-content-between align-items-center rounded-2 mx-1 mx-md-2 my-3" *ngIf="stock?.symbol" [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.5)'}">
    <div class="col-2 p-0 text-center">
      <img *ngIf="stock.logoUrl" [src]="stock.logoUrl" alt="{{ stock.symbol }}" class="w-40 rounded-circle logo-img">
    </div>
    <div class="col-2 fs-1 fs-xl-2 p-0 text-center">
      <p class="m-0">{{ stock.symbol }}</p>
    </div>
    <div class="col-2 p-0 justify-content-center fs-1 fs-sm-2 fw-bold d-flex" [ngClass]="{'text-green': stock.increased, 'text-red': !stock.increased}">
      {{ stock.price || 0 | currencyFormat:'€':2:'.':',':3 }}
      <div *ngIf="stock.increased" class="arrow up">▲</div>
      <div *ngIf="!stock.increased" class="arrow down">▼</div>
    </div>
    <div class="col-2 p-0">
      <img [src]="currentCartIcon" alt="logo acquisto" (click)="openModal(content)" (mouseover)="changeCartIcon()" (mouseout)="restoreCartIcon()" class="w-50 mb-1 w-md-40">
    </div>
    <div class="col-1 p-0 m-0 star" (click)="toggleFavorite()">
      <i class="fa" [ngClass]="{'fa-star': stock.favorite, 'fa-star-o': !stock.favorite}"></i>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header ">
    <h2 class="fs-md-4 fs-3 fw-bold">{{ 'stockCard.MODAL_TITLE' | translate:{ symbol: stock.symbol} }}</h2>
    <button type="button" class="btn-close bg-white" aria-label="Close" (click)="closeModal(modal)"></button>
  </div>
  <div class="modal-body">
    <app-stock-transaction [symbol]="stock.symbol" [currentPrice]="stock.price" [userId]="stock.userId"></app-stock-transaction>
  </div>
</ng-template>