.star {
  cursor: pointer;
  margin-left: 10px;
}

.fa-star {
  color: gold;
}

.fa-star-o {
  color: gray;
}

.text-green {
  color: green; /* Colore verde se il prezzo aumenta */
}

.text-red {
  color: red; /* Colore rosso se il prezzo diminuisce */
}

.logo-lg {
  width: 100%; /* Default behavior */
}

@media (min-width: 992px) {
  .logo-lg {
    max-width: 40px;
    max-height: 40px;
  }
}

.card-color {
  background-color:rgba(0, 0, 0, 0)!important; /* Adding transparency to the container */
  
}