body {
  padding-top: 50px; /* Altezza della navbar */
}

/* Stile personalizzato per la navbar */
.navbar {
  background-color: #0b1426;
}

.language-link {
  cursor: pointer;
}

.dropdown-item,
.dropdown-menu {
  color: white;
  background-color: #0b1426;
}

.dropdown-item:hover {
  background-color: white;
  color: #1199FA;
  font-weight: bold;
}

.custom-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler:focus,
.custom-toggler:active {
  outline: none;
  box-shadow: none;
}

.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17, 153, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.text-p {
  color: #1199fa;
}
