<!-- <nav class="navbar navbar-expand-lg fs-5 fs-lg-2">
  <div class="container-fluid ">
    <a class="navbar-brand overb ms-3" [routerLink]="['/home']">
      <img src="./assets/triangle.png" width="10" alt="logo" />
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div  *ngIf="user" class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/home']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/favorites']" routerLinkActive="active">Preferiti</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/profilo']" routerLinkActive="active">Profilo</a>
        </li>
        <li>
          <a class="nav-link text-white " [routerLink]="['/newsletter']" routerLinkActive="active">Newsletter</a>
        </li> -->
<!-- <li *ngIf="!user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/login']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/register']" routerLinkActive="active">Registrati</a>
        </li> -->
<!-- <li>
          <a class="nav-link text-white d-lg-none" [routerLink]="['/profile']" routerLinkActive="active">Account</a>
        </li>
        
        <li><a class="nav-link text-white d-lg-none"  >Centro Assistenza</a></li>
        <li class="p-1 d-lg-none">
          <button (click)="logout()" type="button" class="btn btn-primary rounded-5 fs-5 fs-lg-1 ">Logout</button>
        </li>
      </ul>



      <div class="dropdown d-flex align-items-center d-none d-lg-flex">
        <div class="d-flex flex-column text-center"> -->
<!-- <p class="text-danger m-0">Benvenuto</p> -->
<!-- <p class="m-0 fw-bold fs-5 fs-lg-2">{{ checkTypeOfAuthData(user) ? user.user.name : checkTypeOfSocialUser(user) ? user.firstName + ' ' + (user.lastName !== undefined ? user.lastName : '') : '' }}</p>
          <p class="m-0 fw-bold fs-5 fs-lg-2 text-p"> {{user.user.username}}</p>
        </div>
        <button class="btn dropdown-toggle rounded-0 mx-1  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img width="30" class="rounded-circle" src="{{user.user.avatar}}" alt="">
        </button>
        <ul class="dropdown-menu dropdown-menu-end  fs-5 fs-lg-2 text-center"> -->
<!-- <li>
            <a class="dropdown-item" href="#">
              <img width="20" src="{{ checkTypeOfAuthData(user) ? user.user.thumbnailUrl : checkTypeOfSocialUser(user) ? user.photoUrl : '' }}" alt="avatar" />
            {{ checkTypeOfAuthData(user) ? user.user.name : checkTypeOfSocialUser(user) ? user.firstName + ' ' + (user.lastName !== undefined ? user.lastName : '') : '' }}
           
              <img width="50" src="{{user.user.avatar}}" alt="">
            </a>
          </li>
          <li>
            <p class="m-0 fw-bold fs-5 fs-lg-2"> {{user.user.username}}</p>
          </li> -->
<!-- <li>
            <a class="dropdown-item fs-1" [routerLink]="['/profile']" routerLinkActive="active">Account</a>
          </li>
          <li>
            <a class="dropdown-item fs-1">Centro Assistenza</a>
          </li>
          <li class="">
            <button (click)="logout()" type="button" class="btn btn-primary rounded-5 fs-5 fs-lg-1 m-2">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg fs-5 fs-lg-2">
  <div class="container-fluid ">
    <a class="navbar-brand overb ms-3" [routerLink]="['/home']">
      <img src="./assets/triangle.png" width="10" alt="logo" />
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div  *ngIf="user" class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/home']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/favorites']" routerLinkActive="active">Preferiti</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/profilo']" routerLinkActive="active">Profilo</a>
        </li>
        <li>
          <a class="nav-link text-white " [routerLink]="['/newsletter']" routerLinkActive="active">Newsletter</a>
        </li>
        -- <li *ngIf="!user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/login']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/register']" routerLinkActive="active">Registrati</a>
        </li> --
        <li>
          <a class="nav-link text-white d-lg-none" [routerLink]="['/profile']" routerLinkActive="active">Account</a>
        </li>
        
        <li><a class="nav-link text-white d-lg-none"  >Centro Assistenza</a></li>
        <li class="p-1 d-lg-none">
          <button (click)="logout()" type="button" class="btn btn-primary rounded-5 fs-5 fs-lg-1 ">Logout</button>
        </li>
      </ul>



      <div class="dropdown d-flex align-items-center d-none d-lg-flex">
        <div class="d-flex flex-column text-center">
          -- <p class="text-danger m-0">Benvenuto</p> --
          -- <p class="m-0 fw-bold fs-5 fs-lg-2">{{ checkTypeOfAuthData(user) ? user.user.name : checkTypeOfSocialUser(user) ? user.firstName + ' ' + (user.lastName !== undefined ? user.lastName : '') : '' }}</p> --
          <p class="m-0 fw-bold fs-5 fs-lg-2 text-p"> {{user.user.username}}</p>
        </div>
        <button class="btn dropdown-toggle rounded-0 mx-1  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img width="30" class="rounded-circle" src="{{user.user.avatar}}" alt="">
        </button>
        <ul class="dropdown-menu dropdown-menu-end  fs-5 fs-lg-2 text-center">
          -- <li>
            <a class="dropdown-item" href="#">
              <img width="20" src="{{ checkTypeOfAuthData(user) ? user.user.thumbnailUrl : checkTypeOfSocialUser(user) ? user.photoUrl : '' }}" alt="avatar" />
            {{ checkTypeOfAuthData(user) ? user.user.name : checkTypeOfSocialUser(user) ? user.firstName + ' ' + (user.lastName !== undefined ? user.lastName : '') : '' }}
           
              <img width="50" src="{{user.user.avatar}}" alt="">
            </a>
          </li>
          <li>
            <p class="m-0 fw-bold fs-5 fs-lg-2"> {{user.user.username}}</p>
          </li> --
          <li>
            <a class="dropdown-item fs-1" [routerLink]="['/profile']" routerLinkActive="active">Account</a>
          </li>
          <li>
            <a class="dropdown-item fs-1">Centro Assistenza</a>
          </li>
          <li class="">
            <button (click)="logout()" type="button" class="btn btn-primary rounded-5 fs-5 fs-lg-1 m-2">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->
<!-- <nav class="navbar navbar-expand-lg fs-5 fs-lg-2 ">
  <div class="container-fluid">
    <a class="navbar-brand overb ms-3" [routerLink]="['/home']">
      <img src="./assets/triangle.png" width="10" alt="logo" />
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/home']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ 'navbar.HOME' | translate }}</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/favorites']" routerLinkActive="active">{{ 'navbar.FAVORITES' | translate }}</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/profilo']" routerLinkActive="active">{{ 'navbar.PROFILE' | translate }}</a>
        </li>
        <li>
          <a class="nav-link text-white" [routerLink]="['/newsletter']" routerLinkActive="active">{{ 'navbar.NEWSLETTER' | translate }}</a>
        </li>
        <li *ngIf="userId !== null">
          <a class="nav-link text-white" [routerLink]="['/lista-azioni-user']" [queryParams]="{ userId: userId }" routerLinkActive="active">{{ 'navbar.TRANSACTIONS' | translate }}</a>
        </li>
        <li><a class="nav-link text-white d-lg-none">{{ 'navbar.WELCOME' | translate }}</a></li>
        <li class="p-1 d-lg-none">
          <button *ngIf="user" (click)="logout()" type="button" class="btn btn-primary rounded-5 fs-5 fs-lg-1">{{ 'navbar.LOGOUT' | translate }}</button>
        </li>
      </ul>
      <div class="d-flex align-items-center text-center">
        <a (click)="switchLanguage('en')" class="nav-link text-white language-link">EN</a>
        <span class="text-white mx-2">|</span>
        <a (click)="switchLanguage('it')" class="nav-link text-white language-link">ITA</a>
      </div>
      <div *ngIf="user" class="dropdown d-flex align-items-center d-none d-lg-flex">
        <div class="d-flex align-items-center text-center">
          <p class="m-0 fw-bold fs-5 fs-lg-2 text-p">{{ user?.user?.username }}</p>
        </div>
        <button class="btn dropdown-toggle rounded-0 mx-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img width="30" class="rounded-circle" [src]="user?.user?.avatar" alt="">
        </button>
        <ul class="dropdown-menu dropdown-menu-end fs-5 fs-lg-2 text-center">
          <li>
            <a class="dropdown-item fs-1" [routerLink]="['/profilo']" routerLinkActive="active">{{ 'navbar.PROFILE' | translate }}</a>
          </li>
          <li>
            <a class="dropdown-item fs-1">{{ 'navbar.WELCOME' | translate }}</a>
          </li>
          <li>
            <button (click)="logout()" type="button" class="btn btn-primary rounded-5 fs-5 fs-lg-1 m-2">{{ 'navbar.LOGOUT' | translate }}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
 -->


<!-- 

<div class="logo-container">
  <img src="../../../assets/img/ICON_LOGO ICON.png" alt="Logo" class="logo">
</div>
<div class="navbar">
  <div class="menu">
    <a class="menu-button text-decoration-none m-4" (click)="toggleMenu()">MENU</a>
    <div class="menu-content" [class.show]="menuOpen">
      <a routerLink="/home" (click)="toggleMenu()">Home</a>
      <a routerLink="/favorites" (click)="toggleMenu()">Preferiti</a>
      <a routerLink="/profilo" (click)="toggleMenu()">Profilo</a>
      <a routerLink="/newsletter" (click)="toggleMenu()">Newsletter</a>
      <a routerLink="/transazioni" (click)="toggleMenu()">Transazioni</a>
      <div class="d-flex align-items-center">
        <a (click)="switchLanguage('it')">ITA</a> <span class="text-white">|</span><a
          (click)="switchLanguage('en')">EN</a>
      </div>
      <a routerLink="/login" (click)="toggleMenu()">Login</a>
    </div>
  </div>
</div> -->
<div class="logo-container">
  <img src="../../../assets/img/ICON_LOGO ICON.png" alt="Logo" class="logo">
</div>
<div class="navbar">
  <div class="menu">
    <a class="menu-button text-decoration-none m-4" (click)="toggleMenu()">MENU</a>
    <div class="menu-content" [class.show]="menuOpen">
      <a routerLink="/" (click)="toggleMenu()">Home</a>
      <a routerLink="/favorites" (click)="toggleMenu()">Preferiti</a>
      <a routerLink="/profilo" (click)="toggleMenu()">Profilo</a>
      <a routerLink="/newsletter" (click)="toggleMenu()">Newsletter</a>
      <a routerLink="/transazioni" (click)="toggleMenu()">Transazioni</a>
      <div class="d-flex align-items-center">
        <a (click)="switchLanguage('it')">ITA</a>
        <span class="text-white">|</span>
        <a (click)="switchLanguage('en')">EN</a>
      </div>
      <a *ngIf="!user" routerLink="/login" (click)="toggleMenu()">Login</a>
      <a *ngIf="user" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
