<!-- <form (ngSubmit)="onSubmit()">
  <div>
    <label for="quantity">Quantità:</label>
    <input type="number" id="quantity" [(ngModel)]="quantity" name="quantity" required min="1">
  </div>
  <div>
    <p>Prezzo Attuale: {{ currentPrice | currency }}</p>
    <p>Saldo: {{ user?.balance | currency }}</p>
    <p>Azioni possedute: {{ ownedQuantity }}</p>
  </div>
  <button type="button" class="btn btn-primary" (click)="buyStock()" [disabled]="!isPriceLoaded">Acquista</button>
  <button type="button" class="btn btn-secondary" (click)="sellStock()" [disabled]="!isPriceLoaded || ownedQuantity === 0">Vendi</button>

  <ngb-alert *ngIf="alertMessage && alertType === 'success'" type="success" (closed)="onAlertClose()">
    {{ alertMessage }}
  </ngb-alert>
  <ngb-alert *ngIf="alertMessage && alertType === 'danger'" type="danger" (closed)="onAlertClose()">
    {{ alertMessage }}
  </ngb-alert>
</form> -->
<!-- <h2>{{ 'stockTransaction.BUY_SELL' | translate }}</h2> -->


<form (ngSubmit)="onSubmit()">
  <div>
    <label for="quantity">{{ 'stockTransaction.QUANTITY' | translate }}:</label>
    <input type="number" id="quantity" [(ngModel)]="quantity" name="quantity" required min="1">
  </div>
  <div>
    <p>{{ 'stockTransaction.CURRENT_PRICE' | translate }}: {{ currentPrice || 0 | currencyFormat:'€':2:'.':',':3 }}</p>
    <p>{{ 'stockTransaction.BALANCE' | translate }}: {{ user?.balance ||0|currencyFormat:'€':2:'.':',':3 }}</p>
    <p>{{ 'stockTransaction.OWNED_QUANTITY' | translate }}: {{ ownedQuantity }}</p>
  </div>
  <button type="button" class="btn text-center pe-2" (click)="buyStock()" [disabled]="!isPriceLoaded">
    <img src="../../../assets/img/ICON-buy.png" alt="Buy Icon" style="width: 30px; height: 30px; margin-right: 3px;">
    {{ 'stockTransaction.BUY' | translate }}
  </button>
  <button type="button" class="btn text-center pe-2" (click)="sellStock()" [disabled]="!isPriceLoaded || ownedQuantity === 0">
    <img src="../../../assets/img/ICON-sell.png" alt="Sell Icon" style="width: 30px; height: 30px; margin-right: 3px;">
    {{ 'stockTransaction.SELL' | translate }}
  </button>
 
  <ngb-alert *ngIf="alertMessage && alertType === 'success'" type="success" (closed)="onAlertClose()">
    {{ alertMessage }}
  </ngb-alert>
  <ngb-alert *ngIf="alertMessage && alertType === 'danger'" type="danger" (closed)="onAlertClose()">
    {{ alertMessage }}
  </ngb-alert>
</form>
