:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input, .label-custom {
  color: white !important;
}

.custom-box, .form-control, .label-custom {
  background-color: transparent;
}

.form-control {
  border: 3px solid white;
}

.transparent-input::placeholder {
  color: white;
  opacity: .6;
}

.profile-image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

@media (max-width: 500px) {
  .profile-image {
    height: 90px;
    width: 90px;
  }
}
.toggle-password {
  cursor: pointer;
  background-color: transparent !important; /* Ensure background is transparent */
  border: none; /* Remove border if present */
  color: white; /* Set icon color to white */
}

.input-group {
  border: 2px solid white;
}

.input-group-text {
  background-color: transparent !important; /* Ensure background is transparent */
  border: none; /* Remove border if present */
  color: white; /* Set icon color to white */
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-text i {
  color: white !important; /* Ensure icon color is white */
}
