.privacy-title {
    color: #1199fa;
  }
  
  .privacy-content {
    color: #ffffff;
  }
  
  .privacy-link {
    color: #1199fa;
  }
  
  .panel-title {
    color: #1199fa !important;
  }
  
  .card-header {
    background-color: #122640 !important;
  }