/* Hidden datepicker */
:host {
    --bs-info: #00084B;
    --bs-link-color: white; /* Definisci il colore del link come bianco */
    --bs-btn-color: var(--bs-link-color); /* Imposta il colore del pulsante come il colore del link */
    --bs-body-color: white;
    --bs-btn-color:white;
  }
  
  
  .dp-hidden {
      width: 0;
      margin: 0;
      border: none;
      padding: 0;
  }
  
  /* Custom day styles */
  .custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      width: 2rem;
      color: white; /* White text for all dates */
      background-color: #00084C ; /* Calendar background color */
  }
  
  .custom-day.focused {
      background-color: #e6e6e6;
      color: white; /* White text when the day is focused */
  }
  
  .custom-day.range,
  .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white; /* White text when the day is part of a range or hovered */
  }
  
  .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
      color: white; /* White text when the day is part of an unconfirmed range */
  }
  
  /* Input field styles */
  .form-control {
      color: white;
      background-color: transparent; /* Input field background color */
      border:0; /* White border */
  }
  
  /* Button styles */
  button {
      position: relative;
      background: rgb(21, 73, 188);
      background: linear-gradient(90deg, rgba(21, 73, 188, 1) 0%, rgba(25, 118, 210, 1) 50%);
      border: none;
      color: var(--bs-btn-color); /* Usa la variabile per il colore del testo dei pulsanti */
      padding: 10px 20px;
      font-size: 1em;
      cursor: pointer;
      z-index: 1;
      overflow: hidden;
  }
  
  /* Arrow button styles */
  .bi-calendar3::before {
    color: var(--bs-btn-color); /* White color for arrows */
  }
  
  /* Styles for ngb-dp-header, ngb-dp-week, ngb-dp-weekdays */
  .ngb-dp-header, .ngb-dp-week, .ngb-dp-weekdays {
      background-color: #00084C!important; /* Background color #00084B */
      color: white !important;
     /* White text */
  }
  
  .ngb-dp-header button {
      color: white; /* White arrows in the header */
  }
  
  /* Styles for weekdays */
  .ngb-dp-weekdays .ngb-dp-weekday {
      color: #00084C !important;/* Weekday text color */
      font-weight: 600!important; /* Apply font-weight 600 */

  }
  /* .btn-link styles */
.btn-link {
    --bs-btn-color: var(--bs-link-color); /* Imposta il colore dei pulsanti come il colore dei link */
}
.btn-outline-secondary {
    --bs-btn-color: white;}