
  .dropdown-item,
  .dropdown-menu {
    color: white; /* Colore del testo */
    background-color:#0b1426;
    // #0b1426;#122036
 }
 
 .dropdown-item:hover {
    background-color: white; /* Colore di sfondo quando si passa sopra un elemento */
    color:#1199FA; /* Colore del testo quando si passa sopra un elemento */
    font-weight: bold;
 }
 
 .dropdown-menu {
  top: 75px;
  left: 0 !important;
  right: auto !important;
  transform: translateX(-5%);
  
}

.text-p {
  color: #1199fa;
}