<!-- <div class="container">
  <div class="my-5 fw-semibold">
    <h1>Profilo</h1>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="border border-1 border-black rounded-4 w-100 p-3 mb-4">
        <div class="row">
          <div class="col-3 d-flex justify-content-center clicca" (click)="avatarChange.click()">
              <input type="file" id="avatarChange" #avatarChange (change)="onFileSelected($event)" class="d-none" />
              <div style="width: max-content;" class="position-relative">
                <img [src]="previewUrl" height="100" style="border-radius: 50%;" width="100" alt="Immagine Profilo">
                <div class="border bg-light border-black position-absolute bottom-0 end-0" style="border-radius: 50%;width: 30px; height: 30px;">
                  <i class="bi-pencil-fill position-absolute start-50 translate-middle top-50" style="font-size: 0.9em;"></i>
                </div>
              </div>
          </div>
          <div class="col-9">
              <p class="m-1"><span class="verdescuro fw-semibold">{{profilo?.nome}} {{profilo?.cognome}}</span></p>
              <p class="m-1">{{profilo?.email}}</p>
              <p class="m-1">{{profilo?.username}}</p>
          </div>
        </div>
      </div>

      <div class="border border-1 border-black rounded-4 w-100 px-5 py-3 ">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Password Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">**********</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="cambioPassword" />
              <label for="cambioPassword">Modifica Password</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success">Cambia</button>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Username Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">{{profilo?.username}}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="text" id="cambioUsername" />
              <label for="cambioUsername">Modifica Username</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success">Cambia</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <div class="my-5 fw-semibold">
    <h1>Profilo</h1>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="border border-1 border-black rounded-4 w-100 p-3 mb-4">
        <div class="row">
          <-- Avatar Section --
          <div class="col-3 d-flex justify-content-center clicca" (click)="avatarChange.click()">
            <input type="file" id="avatarChange" #avatarChange (change)="onFileSelected($event)" class="d-none" />
            <div style="width: max-content;" class="position-relative">
              <img [src]="previewUrl" height="100" style="border-radius: 50%;" width="100" alt="Immagine Profilo">
              <div class="border bg-light border-black position-absolute bottom-0 end-0"
                style="border-radius: 50%;width: 30px; height: 30px;">
                <i class="bi-pencil-fill position-absolute start-50 translate-middle top-50"
                  style="font-size: 0.9em;"></i>
              </div>
            </div>
          </div>
          <-- Profile Info Section --
          <div class="col-9">
            <p class="m-1"><span class="verdescuro fw-semibold">{{profilo?.nome}} {{profilo?.cognome}}</span></p>
            <p class="m-1">{{profilo?.email}}</p>
            <p class="m-1">{{profilo?.username}}</p>
          </div>
        </div>
      </div>

      <-- Change Password Section --

      <-- Change Password Section -
      <div class="border border-1 border-black rounded-4 w-100 px-5 py-3">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Password Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">**********</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="currentPassword" name="currentPassword"
                [(ngModel)]="currentPassword" required>
              <label for="currentPassword" class="label-custom">Password Attuale</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input #newPasswordField class="form-control" type="password" id="newPassword" name="newPassword"
                [(ngModel)]="newPassword" required>
              <label for="newPassword" class="label-custom">Nuova Password</label>
            </div>
            <-- <small class="text-muted">
        La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un numero e un carattere speciale (!, @, #, $, %, ^, &, *).
      </small> --
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                [(ngModel)]="confirmPassword" required>
              <label for="confirmPassword" class="label-custom">Conferma Nuova Password</label>
            </div>
            <div *ngIf="passwordError" class="text-danger">
              {{ passwordError }}
            </div>
            <-- <div *ngIf="successMessage" class="text-success">
        {{ successMessage }}
      </div> --
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success" (click)="updatePassword()">Cambia</button>
          </div>
        </div>
      </div>

      <-- Change Username Section --
      <div class="border border-1 border-black rounded-4 w-100 px-5 py-3">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Username Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">{{ profilo?.username }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="text" id="newUsername" name="newUsername" ngModel required>
              <label for="newUsername">Nuovo Username</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success" (click)="updateUsername()">Cambia</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- 
<div class="container text-white">
  <div class="my-5 fw-semibold">
    <h1>Profilo</h1>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="rounded-4 w-100 p-3 mb-4 custom-color">
        <div class="row">
        -- Avatar Section --
          <div class="col-3 d-flex justify-content-center clicca" (click)="avatarChange.click()">
            <input type="file" id="avatarChange" #avatarChange (change)="onFileSelected($event)" class="d-none" />
            <div style="width: max-content;" class="position-relative">
              <img [src]="previewUrl" height="100" style="border-radius: 50%;" width="100" alt="Immagine Profilo">
              <div class="border bg-light border-black position-absolute bottom-0 end-0"
                style="border-radius: 50%;width: 30px; height: 30px;">
                <i class="bi bi-pencil-fill position-absolute start-50 translate-middle top-50 text-black"
                  style="font-size: 0.9em;"></i>
              </div>
            </div>
          </div>
        -- Profile Info Section --
          <div class="col-9">
            <p class="m-1"><span class="verdescuro fw-semibold">{{profilo?.nome}} {{profilo?.cognome}}</span></p>
            <p class="m-1">{{profilo?.email}}</p>
            <p class="m-1">{{profilo?.username}}</p>
          </div>
        </div>
      </div>

    -- Change Password Section --
      <div class="rounded-4 w-100 px-5 shadow py-3 custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Password Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">**********</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="currentPassword" name="currentPassword"
                [(ngModel)]="currentPassword" required>
              <label for="currentPassword" class="label-custom">Password Attuale</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input #newPasswordField class="form-control" type="password" id="newPassword" name="newPassword"
                [(ngModel)]="newPassword" required 	ngbPopover="La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un
                numero e un carattere speciale (!, @, #, $, %, ^, &, *)."
                placement="right"   popoverClass="fs-5"
                container="body">
              <label for="newPassword" class="label-custom">Nuova Password</label>
            </div>
          
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                [(ngModel)]="confirmPassword" required ngbPopover="La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un
                numero e un carattere speciale (!, @, #, $, %, ^, &, *)."
                placement="right"   popoverClass="fs-5 custom-popover" 
                container="body">
              <label for="confirmPassword" class="label-custom">Conferma Nuova Password</label>
            </div>
            <div *ngIf="passwordError" class="text-danger">
              {{ passwordError }}
            </div>
            <div *ngIf="successMessage" class="text-success">
              {{ successMessage }}
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updatePassword()">Cambia</button>
          </div>
        </div>
      </div>

    -- Change Username Section --
      <div class=" rounded-4 mt-4 w-100 px-5 py-3 shadow custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Username Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">{{ profilo?.username }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="text" id="newUsername" name="newUsername" ngModel required>
              <label for="newUsername" class="label-custom">Nuovo Username</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updateUsername()">Cambia</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- --------------------------FUNZIONANTE AL 24-06-2024-------------------------------- -->
<!-- 
<div class="container text-white" *ngIf="profilo">
  <div class="my-5 fw-semibold">
    <h1>Profilo</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="rounded-4 w-100 p-3 mb-4 custom-color">
        <div class="row">
          Avatar Section 
          <div class="col-3 d-flex justify-content-center clicca" (click)="avatarChange.click()">
            <input type="file" id="avatarChange" #avatarChange (change)="onFileSelected($event)" class="d-none" />
            <div style="width: max-content;" class="position-relative">
              <img [src]="previewUrl" height="100" style="border-radius: 50%;" width="100" alt="Immagine Profilo">
              <div class="border bg-light border-black position-absolute bottom-0 end-0"
                style="border-radius: 50%;width: 30px; height: 30px;">
                <i class="bi bi-pencil-fill position-absolute start-50 translate-middle top-50 text-black"
                  style="font-size: 0.9em;"></i>
              </div>
            </div>
          </div>
           Profile Info Section 
          <div class="col-9">
            <p class="m-1"><span class="verdescuro fw-semibold">{{profilo.nome}} {{profilo.cognome}}</span></p>
            <p class="m-1">{{profilo.email}}</p>
            <p class="m-1">{{profilo.username}}</p>
          <div class="form-check">
              <input class="form-check-input" type="checkbox" id="newsletter" [checked]="profilo.newsletter" (change)="onNewsletterChange($event)">
              <label class="form-check-label" for="newsletter">
                Iscriviti alla newsletter
              </label>
            </div> 
          </div>
        </div>
      </div>

      Change Password Section
      <div class="rounded-4 w-100 px-5 shadow py-3 custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Password Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">**********</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
              <label for="currentPassword" class="label-custom">Password Attuale</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input #newPasswordField class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required ngbPopover="La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un numero e un carattere speciale (!, @, #, $, %, ^, &, *)." placement="right" popoverClass="fs-5" container="body">
              <label for="newPassword" class="label-custom">Nuova Password</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required ngbPopover="La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un numero e un carattere speciale (!, @, #, $, %, ^, &, *)." placement="right" popoverClass="fs-5 custom-popover" container="body">
              <label for="confirmPassword" class="label-custom">Conferma Nuova Password</label>
            </div>
            <div *ngIf="passwordError" class="text-danger">
              {{ passwordError }}
            </div>
            <div *ngIf="successMessage" class="text-success">
              {{ successMessage }}
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updatePassword()">Cambia</button>
          </div>
        </div>
      </div>

       Change Username Section 
      <div class="rounded-4 mt-4 w-100 px-5 py-3 shadow custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Username Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">{{ profilo.username }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="text" id="newUsername" name="newUsername" ngModel required>
              <label for="newUsername" class="label-custom">Nuovo Username</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updateUsername()">Cambia</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container text-white" *ngIf="profilo">
  <div class="my-5 fw-semibold">
    <h1>Profilo</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="rounded-4 w-100 p-3 mb-4 custom-color">
        <div class="row">
          <div class="col-3 d-flex justify-content-center clicca" (click)="avatarChange.click()">
            <input type="file" id="avatarChange" #avatarChange (change)="onFileSelected($event)" class="d-none" />
            <div style="width: max-content;" class="position-relative">
              <img [src]="previewUrl" height="100" style="border-radius: 50%;" width="100" alt="Immagine Profilo">
              <div class="border bg-light border-black position-absolute bottom-0 end-0"
                style="border-radius: 50%;width: 30px; height: 30px;">
                <i class="bi bi-pencil-fill position-absolute start-50 translate-middle top-50 text-black"
                  style="font-size: 0.9em;"></i>
              </div>
            </div>
          </div>
          <div class="col-9">
            <p class="m-1"><span class="verdescuro fw-semibold">{{profilo.nome}} {{profilo.cognome}}</span></p>
            <p class="m-1">{{profilo.email}}</p>
            <p class="m-1">{{profilo.username}}</p>
          </div>
        </div>
      </div>

      <div class="rounded-4 w-100 px-5 shadow py-3 custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Password Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">**********</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
              <label for="currentPassword" class="label-custom">Password Attuale</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input #newPasswordField class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required ngbPopover="La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un numero e un carattere speciale (!, @, #, $, %, ^, &, *)." placement="right" popoverClass="fs-5" container="body">
              <label for="newPassword" class="label-custom">Nuova Password</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required ngbPopover="La password deve contenere almeno 8 caratteri, includere una lettera maiuscola, una lettera minuscola, un numero e un carattere speciale (!, @, #, $, %, ^, &, *)." placement="right" popoverClass="fs-5 custom-popover" container="body">
              <label for="confirmPassword" class="label-custom">Conferma Nuova Password</label>
            </div>
            <div *ngIf="passwordError" class="text-danger">
              {{ passwordError }}
            </div>
            <div *ngIf="successMessage" class="text-success">
              {{ successMessage }}
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updatePassword()">Cambia</button>
          </div>
        </div>
      </div>

      <div class="rounded-4 mt-4 w-100 px-5 py-3 shadow custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>Username Attuale</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">{{ profilo.username }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="text" id="newUsername" name="newUsername" ngModel required>
              <label for="newUsername" class="label-custom">Nuovo Username</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updateUsername()">Cambia</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-white" *ngIf="profilo">
      <div class="my-5 fw-semibold">
        <h1>Profilo</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <app-checkout [rechargeAmount]="rechargeAmount" [withdrawAmount]="withdrawAmount" [userId]="profilo.idUtente?.toString() || ''" (paymentSuccess)="handlePaymentSuccess()"></app-checkout>
        </div>
      </div>
      <div class="mt-4">
        <h5>Saldo attuale: {{ balance | currency:'€ ' }}</h5>
      </div>
    </div>
    <div class="col-12">
      <app-lista-azioni-user [userId]="profilo.idUtente || null"></app-lista-azioni-user>
    </div>
  </div>
</div> -->

<!-- <app-checkout [amount]="rechargeAmount" (paymentSuccess)="handlePaymentSuccess()"></app-checkout> -->


<div class="container text-white" *ngIf="profilo">
  <div class="my-5 fw-semibold">
    <h1>{{ 'profile.PROFILE' | translate }}</h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="rounded-4 w-100 p-3 mb-4 custom-color">
        <div class="row">
          <div class="col-3 d-flex justify-content-center clicca" (click)="avatarChange.click()">
            <input type="file" id="avatarChange" #avatarChange (change)="onFileSelected($event)" class="d-none" />
            <div style="width: max-content;" class="position-relative">
              <img [src]="previewUrl" height="100" style="border-radius: 50%;" width="100" alt="Immagine Profilo">
              <div class="border bg-light border-black position-absolute bottom-0 end-0" style="border-radius: 50%;width: 30px; height: 30px;">
                <i class="bi bi-pencil-fill position-absolute start-50 translate-middle top-50 text-black" style="font-size: 0.9em;"></i>
              </div>
            </div>
          </div>
          <div class="col-9">
            <p class="m-1"><span class="verdescuro fw-semibold">{{profilo.nome}} {{profilo.cognome}}</span></p>
            <p class="m-1">{{profilo.email}}</p>
            <p class="m-1">{{profilo.username}}</p>
          </div>
        </div>
      </div>

      <div class="rounded-4 w-100 px-5 shadow py-3 custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>{{ 'profile.CURRENT_PASSWORD' | translate }}</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">**********</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
              <label for="currentPassword" class="label-custom">{{ 'profile.CURRENT_PASSWORD' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input #newPasswordField class="form-control" type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required ngbPopover="{{ 'profile.PASSWORD_HELP' | translate }}" placement="right" popoverClass="fs-5" container="body">
              <label for="newPassword" class="label-custom">{{ 'profile.NEW_PASSWORD' | translate }}</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required ngbPopover="{{ 'profile.PASSWORD_HELP' | translate }}" placement="right" popoverClass="fs-5 custom-popover" container="body">
              <label for="confirmPassword" class="label-custom">{{ 'profile.CONFIRM_PASSWORD' | translate }}</label>
            </div>
            <div *ngIf="passwordError" class="text-danger">
              {{ passwordError }}
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updatePassword()">{{ 'profile.CHANGE' | translate }}</button>
          </div>
        </div>
        <!-- Alert per il cambio della password -->
        <ngb-alert *ngIf="passwordAlertMessage" type="success" (close)="closePasswordAlert()">
          {{ passwordAlertMessage }}
        </ngb-alert>
        <!-- Alert per errore di cambio della password -->
        <ngb-alert *ngIf="passwordErrorAlertMessage" type="danger" (close)="closePasswordErrorAlert()">
          {{ passwordErrorAlertMessage }}
        </ngb-alert>
      </div>

      <div class="rounded-4 mt-4 w-100 px-5 py-3 shadow custom-color">
        <div class="d-flex align-items-center">
          <div class="col-10">
            <h5>{{ 'profile.USERNAME' | translate }}</h5>
          </div>
          <div class="col-2">
            <p class="p-0 m-0">{{ profilo.username }}</p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-10">
            <div class="form-floating my-3 me-3">
              <input class="form-control" type="text" id="newUsername" name="newUsername" ngModel required>
              <label for="newUsername" class="label-custom">{{ 'profile.USERNAME' | translate }}</label>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary rounded-5" (click)="updateUsername()">{{ 'profile.CHANGE' | translate }}</button>
          </div>
        </div>
        <!-- Alert per il cambio del nome utente -->
        <ngb-alert *ngIf="usernameAlertMessage" type="success" (close)="closeUsernameAlert()">
          {{ usernameAlertMessage }}
        </ngb-alert>
        <!-- Alert per errore di cambio del nome utente -->
        <ngb-alert *ngIf="usernameErrorAlertMessage" type="danger" (close)="closeUsernameErrorAlert()">
          {{ usernameErrorAlertMessage }}
        </ngb-alert>
      </div>
    </div>
    <div class="container text-white" *ngIf="profilo">
      <div class="my-5 fw-semibold">
        <h1>{{ 'profile.PROFILE' | translate }}</h1>
      </div>
      <div class="row">
        <div class="col-12">
          <app-checkout [rechargeAmount]="rechargeAmount" [withdrawAmount]="withdrawAmount" [userId]="profilo.idUtente?.toString() || ''" (paymentSuccess)="handlePaymentSuccess()"></app-checkout>
        </div>
      </div>
      <div class="mt-4">
        <h5>{{ 'profile.BALANCE_UPDATE' | translate }}: {{ balance | currency:'€ ' }}</h5>
      </div>
    </div>
    <div class="col-12">
      <app-lista-azioni-user [userId]="profilo.idUtente || null"></app-lista-azioni-user>
    </div>
  </div>
</div>
