
  

  
  .arrow.up {
    color: green;
  }
  
  .arrow.down {
    color: red;
  }
  
  
  .text-green {
    color: green; // Colore verde se il prezzo aumenta
  }
  
  .text-red {
    color: red; // Colore rosso se il prezzo diminuisce
  }