   <div class="container text-white custom-top-margin" *ngIf="profilo">
    <div class="my-5 fw-semibold">
      <h1 class="fs-8 fw-bold fs-md-9 ">{{ 'newsletter.TITLE' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="rounded-4 w-100 p-3 mb-4 custom-color">
          <div class="row">
            <div class="col-12 fs-md-4">
              <p class="m-1"><span class="verdescuro fw-semibold">{{ profilo.nome }} {{ profilo.cognome }}</span></p>
              <p class="m-1">{{ profilo.email }}</p>
              <p class="m-1">{{ profilo.username }}</p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="newsletter" [checked]="profilo.newsletter" (change)="onNewsletterChange($event)">
                <label class="form-check-label" for="newsletter">
                  {{ profilo.newsletter ? ('newsletter.UNSUBSCRIBE' | translate) : ('newsletter.SUBSCRIBE' | translate) }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
  
  <app-custom-newsletter *ngIf="isAdmin"></app-custom-newsletter>
  