<!-- <h1>Termini di Servizio</h1>

<p>Ultimo aggiornamento: [Data]</p>

<h2>Accettazione dei Termini</h2>
<p>Utilizzando il nostro sito web, accetti di rispettare e di essere vincolato dai presenti Termini di Servizio. Se non accetti questi termini, ti preghiamo di non utilizzare il nostro sito.</p>

<h2>Modifiche ai Termini</h2>
<p>Ci riserviamo il diritto di modificare questi Termini di Servizio in qualsiasi momento. Le modifiche saranno effettive immediatamente dopo la pubblicazione sul nostro sito. È tua responsabilità controllare periodicamente i Termini di Servizio per eventuali modifiche.</p>

<h2>Uso del Sito</h2>
<p>Il nostro sito fornisce informazioni sulle azioni a scopo puramente informativo. Non costituiamo consulenza finanziaria e non ci assumiamo alcuna responsabilità per decisioni di investimento basate sulle informazioni fornite.</p>

<h2>Proprietà Intellettuale</h2>
<p>Tutti i contenuti del sito, inclusi testi, grafica, loghi, immagini e software, sono di proprietà di [Nome del Sito] o dei nostri licenziatari e sono protetti dalle leggi sul copyright.</p>

<h2>Limitazione di Responsabilità</h2>
<p>In nessun caso [Nome del Sito] sarà responsabile per danni diretti, indiretti, incidentali, consequenziali o punitivi derivanti dall'uso del nostro sito.</p>

<h2>Legge Applicabile</h2>
<p>Questi Termini di Servizio sono regolati e interpretati secondo le leggi dello Stato [Nome dello Stato].</p>

<h2>Contatti</h2>
 <p>Per domande sui Termini di Servizio, contattaci a: <a href="mailto:info@nomedeltuosito.com">info@nomedeltuosito.com</a></p> are -->

<!--  
<div class="container-fluid">

    <h1>Termini di Servizio</h1>

    <p>Benvenuti su [Nome del Sito]. Questi Termini di Servizio regolano l'utilizzo del nostro sito web e dei nostri servizi. Utilizzando il nostro sito, accetti questi termini in pieno.</p>

    <h2>Accettazione dei Termini</h2>
    <p>Utilizzando il nostro sito web, accetti questi Termini di Servizio. Se non accetti questi termini, ti preghiamo di non utilizzare il nostro sito.</p>

    <h2>Modifiche ai Termini</h2>
    <p>Ci riserviamo il diritto di modificare questi termini in qualsiasi momento. Le modifiche verranno pubblicate su questa pagina. L'uso continuato del sito dopo la pubblicazione delle modifiche implica l'accettazione delle stesse.</p>

    <h2>Descrizione dei Servizi</h2>
    <p>Il nostro sito offre una dashboard interattiva che riproduce l’andamento del mercato azionario, consentendo agli utenti di analizzare i dati storici e le tendenze attuali delle borse. Le funzionalità principali includono:</p>
    <ul>
        <li><strong>Visualizzazione dei Dati:</strong>
            <ul>
                <li>Grafici interattivi per il monitoraggio dei prezzi delle azioni.</li>
                <li>Integrazione con API finanziarie per l’acquisizione di dati aggiornati in tempo reale.</li>
            </ul>
        </li>
        <li><strong>Gestione dei Preferiti:</strong> Una funzione che permette agli utenti di selezionare e salvare le azioni preferite per un accesso rapido e personalizzato.</li>
        <li><strong>Panoramica delle Borse Finanziarie:</strong> Una sezione esclusiva che elenca le principali borse finanziarie internazionali, come NYSE, NASDAQ, LSE, e altre, fornendo agli utenti una visione globale e aggiornata del mercato.</li>
    </ul>

    <h2>Obblighi e Responsabilità degli Utenti</h2>
    <p>Gli utenti si impegnano a non utilizzare il sito per attività illegali o non autorizzate. Non sono consentite le seguenti azioni:</p>
    <ul>
        <li>Violazione di leggi locali, statali, nazionali o internazionali.</li>
        <li>Infrangere diritti di proprietà intellettuale.</li>
        <li>Distribuire virus o qualsiasi altra tecnologia dannosa.</li>
    </ul>

    <h2>Limitazione di Responsabilità</h2>
    <p>Non siamo responsabili per eventuali danni diretti, indiretti, incidentali, speciali o consequenziali derivanti dall'uso o dall'incapacità di usare il nostro sito. I dati finanziari forniti attraverso le API di Twelve Data sono per uso informativo e non devono essere considerati come consulenza finanziaria.</p>

    <h2>Proprietà Intellettuale</h2>
    <p>Tutti i contenuti presenti sul sito, inclusi testi, grafica, logo, immagini e software, sono di nostra proprietà o concessi in licenza e sono protetti dalle leggi sul copyright e sui marchi.</p>

    <h2>Privacy</h2>
    <p>La tua privacy è importante per noi. Ti invitiamo a leggere la nostra <a href="link_alla_politica_sulla_privacy">Politica sulla Privacy</a> per sapere come raccogliamo, utilizziamo e proteggiamo le tue informazioni personali.</p>

    <h2>Legge Applicabile</h2>
    <p>Questi Termini di Servizio sono regolati e interpretati secondo le leggi dello Stato di [nome dello stato o del paese], senza riguardo ai conflitti di legge.</p>

    <h2>Contatti</h2>
    <p>Per qualsiasi domanda riguardante questi Termini di Servizio, puoi contattarci all'indirizzo email <a href="mailto:tuo_indirizzo_email">[tuo_indirizzo_email]</a>.</p>


</div> -->

<!-- <div class="container mt-5">
    <h1 class="terms-title">Termini di Servizio</h1>
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Accettazione dei Termini</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Utilizzando il nostro sito web, accetti questi Termini di Servizio. Se non accetti questi termini, ti preghiamo di non utilizzare il nostro sito.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Modifiche ai Termini</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Ci riserviamo il diritto di modificare questi termini in qualsiasi momento. Le modifiche verranno pubblicate su questa pagina. L'uso continuato del sito dopo la pubblicazione delle modifiche implica l'accettazione delle stesse.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Descrizione dei Servizi</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Il nostro sito offre una dashboard interattiva che riproduce l’andamento del mercato azionario, consentendo agli utenti di analizzare i dati storici e le tendenze attuali delle borse. Le funzionalità principali includono:</p>
          <ul class="terms-content">
            <li><strong>Visualizzazione dei Dati:</strong>
              <ul>
                <li>Grafici interattivi per il monitoraggio dei prezzi delle azioni.</li>
                <li>Integrazione con API finanziarie per l’acquisizione di dati aggiornati in tempo reale.</li>
              </ul>
            </li>
            <li><strong>Gestione dei Preferiti:</strong> Una funzione che permette agli utenti di selezionare e salvare le azioni preferite per un accesso rapido e personalizzato.</li>
            <li><strong>Panoramica delle Borse Finanziarie:</strong> Una sezione esclusiva che elenca le principali borse finanziarie internazionali, come NYSE, NASDAQ, LSE, e altre, fornendo agli utenti una visione globale e aggiornata del mercato.</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Obblighi e Responsabilità degli Utenti</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Gli utenti si impegnano a non utilizzare il sito per attività illegali o non autorizzate. Non sono consentite le seguenti azioni:</p>
          <ul class="terms-content">
            <li>Violazione di leggi locali, statali, nazionali o internazionali.</li>
            <li>Infrangere diritti di proprietà intellettuale.</li>
            <li>Distribuire virus o qualsiasi altra tecnologia dannosa.</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Limitazione di Responsabilità</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Non siamo responsabili per eventuali danni diretti, indiretti, incidentali, speciali o consequenziali derivanti dall'uso o dall'incapacità di usare il nostro sito. I dati finanziari forniti attraverso le API di Twelve Data sono per uso informativo e non devono essere considerati come consulenza finanziaria.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Proprietà Intellettuale</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Tutti i contenuti presenti sul sito, inclusi testi, grafica, logo, immagini e software, sono di nostra proprietà o concessi in licenza e sono protetti dalle leggi sul copyright e sui marchi.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Privacy</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">La tua privacy è importante per noi. Ti invitiamo a leggere la nostra <a [routerLink]="['/privacy-policy']" class="terms-link">Politica sulla Privacy</a> per sapere come raccogliamo, utilizziamo e proteggiamo le tue informazioni personali.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Legge Applicabile</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Questi Termini di Servizio sono regolati e interpretati secondo le leggi dello Stato di [nome dello stato o del paese], senza riguardo ai conflitti di legge.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Contatti</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="terms-content">Per qualsiasi domanda riguardante questi Termini di Servizio, puoi contattarci alla sezione <a [routerLink]="['/contattaci']">Contattaci</a>.</p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div> -->

  <div class="container mt-5">
    <h1>{{ 'TERMS_OF_SERVICE.TITLE' | translate }}</h1>
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.ACCEPTANCE' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.ACCEPTANCE_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.CHANGES' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.CHANGES_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.DESCRIPTION' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.DESCRIPTION_TEXT' | translate }}</p>
          <ul>
            <li><strong>{{ 'TERMS_OF_SERVICE.DATA_DISPLAY' | translate }}</strong>
              <ul>
                <li>{{ 'TERMS_OF_SERVICE.DATA_DISPLAY_TEXT' | translate }}</li>
              </ul>
            </li>
            <li><strong>{{ 'TERMS_OF_SERVICE.FAVORITE_MANAGEMENT' | translate }}</strong> {{ 'TERMS_OF_SERVICE.FAVORITE_MANAGEMENT_TEXT' | translate }}</li>
            <li><strong>{{ 'TERMS_OF_SERVICE.MARKET_OVERVIEW' | translate }}</strong> {{ 'TERMS_OF_SERVICE.MARKET_OVERVIEW_TEXT' | translate }}</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.USER_RESPONSIBILITIES' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.USER_RESPONSIBILITIES_TEXT' | translate }}</p>
          <ul>
            <li>{{ 'TERMS_OF_SERVICE.ILLEGAL_ACTIVITIES' | translate }}</li>
            <li>{{ 'TERMS_OF_SERVICE.INTELLECTUAL_PROPERTY' | translate }}</li>
            <li>{{ 'TERMS_OF_SERVICE.DISTRIBUTE_VIRUSES' | translate }}</li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.LIMITATION_OF_LIABILITY' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.LIMITATION_OF_LIABILITY_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.INTELLECTUAL_PROPERTY' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.INTELLECTUAL_PROPERTY_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.PRIVACY' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.PRIVACY_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.APPLICABLE_LAW' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.APPLICABLE_LAW_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>{{ 'TERMS_OF_SERVICE.CONTACT' | translate }}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>{{ 'TERMS_OF_SERVICE.CONTACT_TEXT' | translate }}</p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
