<h1>Termini di Servizio</h1>

<p>Ultimo aggiornamento: [Data]</p>

<h2>Accettazione dei Termini</h2>
<p>Utilizzando il nostro sito web, accetti di rispettare e di essere vincolato dai presenti Termini di Servizio. Se non accetti questi termini, ti preghiamo di non utilizzare il nostro sito.</p>

<h2>Modifiche ai Termini</h2>
<p>Ci riserviamo il diritto di modificare questi Termini di Servizio in qualsiasi momento. Le modifiche saranno effettive immediatamente dopo la pubblicazione sul nostro sito. È tua responsabilità controllare periodicamente i Termini di Servizio per eventuali modifiche.</p>

<h2>Uso del Sito</h2>
<p>Il nostro sito fornisce informazioni sulle azioni a scopo puramente informativo. Non costituiamo consulenza finanziaria e non ci assumiamo alcuna responsabilità per decisioni di investimento basate sulle informazioni fornite.</p>

<h2>Proprietà Intellettuale</h2>
<p>Tutti i contenuti del sito, inclusi testi, grafica, loghi, immagini e software, sono di proprietà di [Nome del Sito] o dei nostri licenziatari e sono protetti dalle leggi sul copyright.</p>

<h2>Limitazione di Responsabilità</h2>
<p>In nessun caso [Nome del Sito] sarà responsabile per danni diretti, indiretti, incidentali, consequenziali o punitivi derivanti dall'uso del nostro sito.</p>

<h2>Legge Applicabile</h2>
<p>Questi Termini di Servizio sono regolati e interpretati secondo le leggi dello Stato [Nome dello Stato].</p>

<h2>Contatti</h2>
 <p>Per domande sui Termini di Servizio, contattaci a: <a href="mailto:info@nomedeltuosito.com">info@nomedeltuosito.com</a></p><!--da cambiare -->
