<!-- <a class="social-component "  (click)="onSocialClick()">
    <img src="../../../assets/img/ICON_LOGO-ICON-E-TEXT.png" alt="Social Logo" class="social-icon">
    <div class="social-text">
      Coming Soon
    </div>
  </a> -->
  <div class="container w-xl-80 mt-5">
     <a class="social-component border-0 mt-5" routerLink="/" (click)="onSocialClick()">
    <div class="social-icon-container">
      <img src="../../../assets/img/ICON_LOGO-ICON-E-TEXT.png" alt="Social Logo" class="social-icon w-70 w-md-60 w-xl-70 w-xxl-60">
    </div>
    <div class="social-text-container">
      <div class="social-text fs-8 fs-md-9 text-white fw-bold">
        {{ 'COMING_SOON' | translate }}
      </div>
      <div class="social-subtext text-white fs-4 fs-md-8">
        {{ 'STAY_TUNED' | translate }}
      </div>
    </div>
  </a> 
  </div>

  