<!-- <h1>Contattaci</h1>

<p>Se hai domande, commenti o richieste, sentiti libero di contattarci tramite uno dei seguenti metodi:</p>

<h2>Email</h2>
<p>Puoi inviarci un'email a: <a href="mailto:info@nomedeltuosito.com">info@nomedeltuosito.com</a></p>

<h2>Telefono</h2>
<p>Chiamaci al numero: +39 123 456 789</p>

<h2>Indirizzo</h2>
<p>Se preferisci scriverci, il nostro indirizzo è:<br>
Nome dell'Azienda<br>
Via delle Azioni, 10<br>
00100 Roma RM<br>
Italia</p>

<h2>Modulo di Contatto</h2>
<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name" ngModel required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel required>

  <label for="message">Messaggio:</label>
  <textarea id="message" name="message" rows="4" ngModel required></textarea>

  <button type="submit" [disabled]="contactForm.invalid">Invia</button>
</form> -->
<!-- <h1>{{ 'CONTACT_US.TITLE' | translate }}</h1>

<p>{{ 'CONTACT_US.DESCRIPTION' | translate }}</p>

<h2>{{ 'CONTACT_US.EMAIL' | translate }}</h2>
<p>{{ 'CONTACT_US.EMAIL_DESCRIPTION' | translate }}</p>

<h2>{{ 'CONTACT_US.PHONE' | translate }}</h2>
<p>{{ 'CONTACT_US.PHONE_DESCRIPTION' | translate }}</p>

<h2>{{ 'CONTACT_US.ADDRESS' | translate }}</h2>
<p>{{ 'CONTACT_US.ADDRESS_DESCRIPTION' | translate }}</p>

<h2>{{ 'CONTACT_US.CONTACT_FORM' | translate }}</h2>
<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <label for="name">{{ 'CONTACT_US.NAME' | translate }}:</label>
  <input type="text" id="name" name="name" ngModel required>

  <label for="email">{{ 'CONTACT_US.EMAIL_LABEL' | translate }}:</label>
  <input type="email" id="email" name="email" ngModel required>

  <label for="message">{{ 'CONTACT_US.MESSAGE' | translate }}:</label>
  <textarea id="message" name="message" rows="4" ngModel required></textarea>

  <button type="submit" [disabled]="contactForm.invalid">{{ 'CONTACT_US.SEND_BUTTON' | translate }}</button>
</form> -->

<!-- 
<div class="container custom-top-margin">

<div><h1 class=" fw-bold mb-4 mt-5 fs-8 fs-md-9">{{ 'CONTATTI.TITLE' | translate }}</h1>
</div>
<div><p>{{ 'CONTATTI.EMAIL' | translate }} <a href="mailto:brokersphere1@gmail.com">brokersphere1@gmail.com</a></p>
<p>{{ 'CONTATTI.PHONE' | translate }} +39 123 456 789</p>
<p>{{ 'CONTATTI.ADDRESS' | translate }}<br>
  BROKERSPHERE<br>
Via delle Azioni, 10<br>
00100 Roma RM<br>
Italia</p>
</div>

<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <label for="name">{{ 'CONTATTI.FORM.NAME' | translate }}</label>
  <input type="text" id="name" name="name" ngModel required>

  <label for="email">{{ 'CONTATTI.FORM.EMAIL' | translate }}</label>
  <input type="email" id="email" name="email" ngModel required>

  <label for="message">{{ 'CONTATTI.FORM.MESSAGE' | translate }}</label>
  <textarea id="message" name="message" rows="4" ngModel required></textarea>

  <button type="submit" [disabled]="contactForm.invalid">{{ 'CONTATTI.FORM.BUTTON' | translate }}</button>
</form>

</div> -->
<div class="container custom-top-margin px-3">
  <div>
    <h1 class="fw-bold mb-4 mt-5 fs-9 fs-md-10">{{ 'CONTATTI.TITLE' | translate }}</h1>
  </div>
  <div class="fs-3 fs-md-4">
    <p>{{ 'CONTATTI.EMAIL' | translate }} <a href="mailto:brokersphere1@gmail.com">brokersphere1@gmail.com</a></p>
    <p>{{ 'CONTATTI.PHONE' | translate }} +39 123 456 789</p>
    <p>{{ 'CONTATTI.ADDRESS' | translate }}<br>
      BROKERSPHERE<br>
      Via delle Azioni, 10<br>
      00100 Roma RM<br>
      Italia
    </p>
  </div>

  <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form mt-5">
    <div class="form-group my-4">
      <label for="name">{{ 'CONTATTI.FORM.NAME' | translate }}</label>
      <input type="text" id="name" name="name" ngModel required class="form-control transparent-input rounded-3">
    </div>
    
    <div class="form-group my-4">
      <label for="email">{{ 'CONTATTI.FORM.EMAIL' | translate }}</label>
      <input type="email" id="email" name="email" ngModel required email class="form-control rounded-3 transparent-input" #email="ngModel">
      <div *ngIf="email.invalid && email.touched" class="text-danger">
        {{ 'CONTATTI.FORM.EMAIL_ERROR' | translate }}
      </div>
    </div>

    <div class="form-group my-4">
      <label for="message">{{ 'CONTATTI.FORM.MESSAGE' | translate }}</label>
      <textarea id="message" name="message" rows="4" ngModel required class="form-control rounded-3 transparent-input"></textarea>
    </div>

    <button type="submit" [disabled]="contactForm.invalid" class="btn btn-primary">{{ 'CONTATTI.FORM.BUTTON' | translate }}</button>
  </form>
</div>