<!-- <div *ngIf="isAdmin()" class="container text-white">
    <div class="my-5 fw-semibold">
      <h1>Invio Newsletter</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="rounded-4 w-100 p-3 mb-4 ">
          <div class="form-group mb-3">
            <label for="titolo" class="form-label">Titolo</label>
            <input type="text" id="titolo" class="form-control text-white" [(ngModel)]="titolo">
          </div>
          <div class="form-group mb-3">
            <label for="testo" class="form-label">Testo</label>
            <quill-editor 
            [(ngModel)]="testo" 
            
            ></quill-editor>
          </div>
          <button class="btn btn-primary" (click)="inviaNewsletter()">Invia</button>
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div> -->

  
  <!-- <div *ngIf="isAdmin()" class="container text-white">
    <div class="my-5 fw-semibold">
      <h1>Invio Newsletter</h1>
    </div>
    <form (ngSubmit)="inviaNewsletter()" #newsletterForm="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="rounded-4 w-100 p-3 mb-4">
            <div class="form-group mb-3">
              <label for="titolo" class="form-label">Titolo</label>
              <input 
                type="text" 
                id="titolo" 
                class="form-control text-white" 
                [(ngModel)]="titolo" 
                name="titolo" 
                required
                #titoloInput="ngModel"
                [class.is-invalid]="titoloInput.invalid && (titoloInput.dirty || titoloInput.touched)">
              <div *ngIf="titoloInput.invalid && (titoloInput.dirty || titoloInput.touched)" class="invalid-feedback">
                Il titolo è obbligatorio.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="testo" class="form-label">Testo</label>
              <quill-editor 
                [(ngModel)]="testo" 
                [styles]="{height: '200px'}" 
                [modules]="quillModules" 
                format="html" 
                placeholder="Scrivi il testo della newsletter qui..." 
                name="testo"
                
                #testoInput="ngModel"
                [class.is-invalid]="testoInput.invalid && (testoInput.dirty || testoInput.touched)"
                style="height: 300px; background-color: #495057; color: #fff; border-radius: 4px;">
              </quill-editor>
              <div *ngIf="testoInput.invalid && (testoInput.dirty || testoInput.touched)" class="invalid-feedback">
                Il testo è obbligatorio.
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!newsletterForm.form.valid">Invia</button>
          </div>
          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </form>
  </div> -->

  <!-- <h1>Editor newsletter</h1>
  <div class="container mt-5">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        
        <form (ngSubmit)="guardar(forma)" #forma="ngForm">
          
          <div class="form-group">
            
            <label>TITOLO</label>
            <input type="text" class="form-control" [(ngModel)]="blog.titolo" name="titolo">

          </div>

          <div class="">
            
            
              <label >Descrizione</label>
          <quill-editor [(ngModel)]="blog.descrizione" name="descrizione" id="txtContent" 
          [modules]="mudulesQuill" (onEditorChanged)="onChangedEditor($event)"></quill-editor>

          </div>

          <button type="submit" class="btn btn-primary">Invia</button>

        </form>
      
      </div>

      <div class="col-2"></div>
    </div>

  </div> -->

<!-- 
  <div class="container mt-5">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <form (ngSubmit)="inviaNewsletter()" #forma="ngForm">
          <div class="form-group">
            <label>TITOLO</label>
            <input type="text" class="form-control" [(ngModel)]="titolo" name="titolo" required>
          </div>
          <div class="form-group">
            <label>Descrizione</label>
            <quill-editor [(ngModel)]="testo" name="testo" id="txtContent"
            [modules]="mudulesQuill" (onEditorChanged)="onChangedEditor($event)"></quill-editor>
          </div>
          <button type="submit" class="btn btn-primary">Invia</button>
        </form>
        <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
   -->


   <!-- <div class="container mt-5">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <form (ngSubmit)="inviaNewsletter()" #forma="ngForm" enctype="multipart/form-data">
          <div class="form-group">
            <label>TITOLO</label>
            <input type="text" class="form-control" [(ngModel)]="titolo" name="titolo" required>
          </div>
          <div class="form-group">
            <label>Descrizione</label>
            <quill-editor [(ngModel)]="testo" name="testo" id="txtContent"
            [modules]="mudulesQuill" (onEditorChanged)="onChangedEditor($event)"></quill-editor>
          </div>
          <div class="form-group">
            <label>Carica Immagine</label>
            <input type="file" class="form-control" (change)="onFileSelected($event)">
          </div>
          <button type="submit" class="btn btn-primary">Invia</button>
        </form>
        <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
      </div>
      <div class="col-2"></div>
    </div>
  </div> -->



<!-- -----------------------------------FATTO CON QUILL------------------------------------------- -->

  <!-- <div class="container mt-5">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <form (ngSubmit)="inviaNewsletter()" #forma="ngForm" enctype="multipart/form-data">
          <div class="form-group">
            <label>TITOLO</label>
            <input type="text" class="form-control" [(ngModel)]="titolo" name="titolo" required>
          </div>
          <div class="form-group">
            <label>Descrizione</label>
            <quill-editor [(ngModel)]="testo" name="testo" id="txtContent"
            [modules]="quillModules" (onEditorChanged)="onChangedEditor($event)"></quill-editor>
          </div>
         
          <button type="submit" class="btn btn-primary">Invia</button>
        </form>
        <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
      </div>
      <div class="col-2"></div>
    </div>
  </div> -->
  
<!-- ----------------------------------- FATTO CON NGXEDITOR ------------------------------------------- -->



