<div class="container card-color rounded-3 shadow ">
  <div class="row">
   

    <div *ngIf="alertMessage" class="alert alert-{{ alertType }} mt-2 col-12">
      {{ alertMessage }}
    </div>

    <div class="mb-2 col-12 d-flex align-items-center justify-content-between">
         <div class="w-50 w-sm-45 w-md-40 w-lg-35">   <img [src]="currentCartIcon" alt="logo acquisto" (click)="openModal(content,symbol)" (mouseover)="changeCartIcon()" (mouseout)="restoreCartIcon()" class="w-13 mb-1">
         </div>
           <div class="star pe-1" (click)="toggleFavorite(stock)">
           <i class="fa" [ngClass]="{'fa-star': stock.favorite, 'fa-star-o': !stock.favorite}"></i>
           </div>     
    </div>


    <div class="d-flex justify-content-between col-12 col-lg-6 pe-lg-0 m-0">
      <div class="dropdown search-dropdown">
        <input
          type="text"
          class="form-control text-white border-white rounded-3 border-2 fs-1 fs-xxl-2"
          [placeholder]="'borsa.SEARCH_PLACEHOLDER' | translate"
          (input)="onSearchChange($event)"
          [(ngModel)]="searchTerm"
        />
        <ul *ngIf="filteredStocks.length > 0" class="dropdown-menu custom-dropdown-menu mt-0 py-0 show">
          <li *ngFor="let stock of filteredStocks">
            <p class="dropdown-item m-0" (click)="selectStock(stock.symbol)">{{ stock.symbol }}</p>
          </li>
        </ul>
      </div>
      <app-calendario class="my-1 mx-2" (dateRangeSelected)="onDateRangeSelected($event)"></app-calendario>
      <!-- <div class="d-lg-none d-flex align-items-center justify-content-start m-2 me-0 me-sm-2">
        <div class="star m-0 ms-1" (click)="toggleFavorite(stock)">
          <i class="fa" [ngClass]="{'fa-star': stock.favorite, 'fa-star-o': !stock.favorite}"></i>
        </div>
      </div> -->
    </div>

    <div
      class="d-flex justify-content-lg-end justify-content-between col-12 ps-lg-0 col-lg-6 btn-group"
      role="group"
      aria-label="Interval Selection"
    >
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '1min'" (click)="onIntervalChange('1min')">{{ 'borsa.INTERVALS.1MIN' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '5min'" (click)="onIntervalChange('5min')">{{ 'borsa.INTERVALS.5MIN' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '15min'" (click)="onIntervalChange('15min')">{{ 'borsa.INTERVALS.15MIN' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '30min'" (click)="onIntervalChange('30min')">{{ 'borsa.INTERVALS.30MIN' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '1h'" (click)="onIntervalChange('1h')">{{ 'borsa.INTERVALS.1H' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '4h'" (click)="onIntervalChange('4h')">{{ 'borsa.INTERVALS.4H' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '1day'" (click)="onIntervalChange('1day')">{{ 'borsa.INTERVALS.1DAY' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '1week'" (click)="onIntervalChange('1week')">{{ 'borsa.INTERVALS.1WEEK' | translate }}</p>
      <p class="m-1 m-xl-2 p-0 fs-1" [class.selected]="selectedInterval === '1month'" (click)="onIntervalChange('1month')">{{ 'borsa.INTERVALS.1MONTH' | translate }}</p>
      <div class="d-flex justify-content-center d-none">
        <i class="bi bi-zoom-in" (click)="zoomIn()"></i>
        <i class="bi bi-zoom-out mx-1" (click)="zoomOut()"></i>
        <button class="btn btn-secondary rounded-circle p-1 mx-1 fs-7" (click)="resetZoom()">Reset</button>
      </div>
    </div>
  </div>

  <div class="col-12 mt-2">
    <canvas id="myChart" width="100"></canvas>
  </div>

  <div class="col-12 border-top p-0">
    <div class="card-color mx-md-3 border-0 my-3 p-0">
      <div class="row g-0 text-white justify-content-around">
        <div class="col-2 align-content-around text-center p-0 logo">
          <img class="border-white rounded-circle w-75 w-md-50 w-lg-35" [src]="logoUrl" alt="Stock Icon" />
        </div>
        <div class="col-3 align-content-center justify-content-center text-center p-0">
          <h5 class="fw-bold fs-sm-1 fs-5 fs-lg-2" [ngStyle]="{'color': stock?.increased ? 'green' : 'red'}">
            {{ 'borsa.REAL_TIME_PRICE' | translate }}
          </h5>
          <div class="fw-bolder m-0 fs-sm-1 fs-5 text-center fs-lg-2 d-flex justify-content-center">
            <p  class="fw-bolder m-0 fs-sm-1 fs-5 fs-lg-2" [ngStyle]="{'color': stock?.increased ? 'green ' : 'red'}">
              {{price|| 0 | currencyFormat:'€':2:'.':',':3}}
            </p>
            <span class="me-0" *ngIf="stock?.increased" style="color: green; margin: 0 10px; float: right;">▲</span>
            <span class="me-0" *ngIf="!stock?.increased" style="color: red; margin: 0 10px; float: right;">▼</span>
          </div>
        </div>
        <div class="col-3 align-content-center text-center">
          <h5 class="fs-sm-1 fs-5 fs-lg-2">{{ 'borsa.AVERAGE_PRICE' | translate }}</h5>
          <p class="fw-bolder fs-sm-1 fs-5 m-0 fs-lg-2"> {{averagePrice |currencyFormat:'€':2:'.':',':3}}</p>
        </div>
        <div class="col-3 align-content-center text-center">
          <h5 class="fs-sm-1 fs-5 fs-lg-2">{{ 'borsa.BEST_PRICE' | translate }}</h5>
          <p class="fw-bolder m-0 fs-sm-1 fs-5 fs-lg-2"> {{bestPrice | currencyFormat:'€':2:'.':',':3}}</p>
        </div>
      </div>
    </div>
  </div>
</div>        

<ng-template #content let-modal>
  <div class="modal-header">
    <h2>{{ 'stockCard.MODAL_TITLE' | translate:{symbol: symbol} }}</h2>
    <button type="button" class="btn-close bg-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-stock-transaction [symbol]="symbol" [userId]="userId" (transactionUpdated)="onTransactionUpdated()"></app-stock-transaction>
  </div>
</ng-template>
