<div class="container-fluid custom-top-margin">
  <div *ngIf="isLoading" class="spinner-container">
    <div class="custom-spinner">
      <img src="../../../assets/img/ICON_LOGO-ICON-WHITE.png" class="heartbeat" alt="Loading Icon 1">
      <img src="../../../assets/img/ICON_LOGO ICON.png" class="heartbeat" alt="Loading Icon 2">
    </div>
    <div class="loading-bar-container">
      <div class="loading-bar"></div>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <div class="row justify-content-between m-2">
      <div class="d-none d-lg-block col-4 p-0 p-lg-2 my-lg-5">
        <app-stock-card *ngFor="let stock of displayedStocks" [stock]="stock" [symbol]="symbol" [favorites]="favoriteStocks" (favoriteToggled)="onFavoriteToggled($event)"></app-stock-card>
      </div>
      <div class="col-12 col-lg-8 p-0 p-lg-2 my-lg-5">
        <app-borsa (favoriteToggled)="onFavoriteToggled($event)" [favorites]="favoriteStocks"></app-borsa>
      </div>
      <div class="col-10 d-lg-none col-lg-4 p-0 p-lg-2 my-5">
        <app-stock-card *ngFor="let stock of displayedStocks" [stock]="stock" [symbol]="symbol" [favorites]="favoriteStocks" (favoriteToggled)="onFavoriteToggled($event)"></app-stock-card>
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
  <app-iscrizione-newsletter></app-iscrizione-newsletter>
</div>
