<div class="container mt-5">
    <h1 class="privacy-title">Politica sulla Privacy</h1>
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Introduzione</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">La tua privacy è importante per noi. Questa politica sulla privacy spiega come raccogliamo, utilizziamo, e proteggiamo le tue informazioni personali quando utilizzi il nostro sito.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Informazioni Raccolte</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Raccogliamo informazioni che ci fornisci direttamente, come il tuo nome, indirizzo email, e qualsiasi altra informazione che scegli di fornirci.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Utilizzo delle Informazioni</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Utilizziamo le informazioni raccolte per fornire, mantenere e migliorare i nostri servizi, per comunicare con te e per proteggere i nostri utenti.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Condivisione delle Informazioni</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Non condividiamo le tue informazioni personali con terze parti senza il tuo consenso, salvo ove richiesto dalla legge o necessario per fornire i nostri servizi.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Sicurezza delle Informazioni</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Adottiamo misure di sicurezza ragionevoli per proteggere le tue informazioni personali da accessi non autorizzati, uso o divulgazione.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">I Tuoi Diritti</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Hai il diritto di accedere, correggere, o eliminare le tue informazioni personali. Puoi esercitare questi diritti contattandoci all'indirizzo email fornito.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Modifiche alla Politica sulla Privacy</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Ci riserviamo il diritto di modificare questa politica sulla privacy in qualsiasi momento. Le modifiche verranno pubblicate su questa pagina. L'uso continuato del sito dopo la pubblicazione delle modifiche implica l'accettazione delle stesse.</p>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="panel-title">Contatti</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <p class="privacy-content">Per qualsiasi domanda riguardante questa politica sulla privacy, puoi contattarci alla sezione <a [routerLink]="['/contattaci']"class="privacy-link">Contattaci </a>.</p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>