.terms-title {
    color: #1199fa;
  }
  
  .terms-content {
    color: #ffffff;
  }
  
  .terms-link {
    color: #1199fa;
  }
  
  .panel-title {
    color: #1199fa !important;
  }
  
//   .card-header {
//     background-color: #122640 !important;
//   }