:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


  
  .terms-content {
    color: #ffffff;
  }
  .privacy-title,.panel-title,.privacy-link {
    color: white;
  }