<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="m-2" >
        <label for="title">Titolo:</label>
        <input id="title" name="title" type="text" class="form-control" ngModel />
      </div>
      <div class="NgxEditor__Wrapper text-black custom-altezza m-2" >
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor   [editor]="editor" name="editorContent" ngModel></ngx-editor>
      </div>
      <div class="m-2 mt-4 "><button type="submit" class="text-white btn btn-primary"  [disabled]="form.invalid">Invia Newsletter</button></div>
      
    </form>
  </div>
  