<!-- <footer>
    <div class="footer">
        <div class=" social d-flex w-75 w-md-100 fs-1 fs-md-2 justify-content-md-center">
            <a class="p-2" href="#"><i class="fa fa-facebook"></i></a>
            <a class="p-2" href="#"><i class="fa fa-instagram"></i></a>
            <a class="p-2" href="#"><i class="fa fa-youtube"></i></a>
            <a class="p-2" href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="social fs-5 fs-md-1">
            <ul class="p-0">
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>

        <div class="social justify-content-md-center fs-5 fs-md-1">
            INFERNO Copyright © 2024 Inferno - All rights reserved || Designed By: Mahesh
        </div>
    </div>
</footer> -->

<!-- <div class="container">
    <div class="row justify-content-center" >
        <div class="social justify-content-center">
            <a class="p-2 fs-md-4 " href="#"><i class="fa fa-facebook"></i></a>
            <a class="p-2 fs-md-4 " href="#"><i class="fa fa-instagram"></i></a>
            <a class="p-2 fs-md-4 " href="#"><i class="fa fa-youtube"></i></a>
            <a class="p-2 fs-md-4 " href="#"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="social social justify-content-center">
            <ul class=" list-inline d-flex m-0">
                <li class="m-2 fs-5 fs-md-2"> <a href="#">Contattaci</a></li>
                <li class="m-2 fs-5 fs-md-2"><a href="#">Our Services</a></li>
                <li class="m-2 fs-5 fs-md-2"><a href="#">Privacy Policy</a></li>
                <li class="m-2 fs-5 fs-md-2"><a href="#">Terms & Conditions</a></li>
                <li class="m-2 fs-5 fs-md-2"><a href="#">Career</a></li>
            </ul>
        </div>

        <div class=" social justify-content-center ">
          <small class=" fs-5 fs-lg-1 m-1 pt-2 border-1 border-top">INFERNO Copyright © 2024 Inferno - All rights reserved || Designed By: Mahesh</small>  
        </div>

    </div>
</div> -->

<!-- 
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">

            <div class="col-12 col-lg-6  text-center mb-1">
                <img width="20"  src="./assets/triangle.png" alt="logo">
            </div>
            <div class="social col-12 col-lg-6 col-lg-6 text-center mb-1">
                <a class="p-2 fs-md-1 " href="#"><i class="fa fa-facebook"></i></a>
                <a class="p-2 fs-md-1 " href="#"><i class="fa fa-instagram"></i></a>
                <a class="p-2 fs-md-1 " href="#"><i class="fa fa-youtube"></i></a>
                <a class="p-2 fs-md-1 " href="#"><i class="fa fa-twitter"></i></a>
            </div>
          

            <div class="col-12 col-lg-3 p-0 text-center social fs-lg-5">
                <p class=" m-0">&copy; 2024 NomeDelTuoSito. Tutti i diritti riservati.</p>
               
            </div> 
             <div class="col-12 m-1 m-md-0 px-4 p-md-0 col-lg-6 justify-content-center ">
                <p class="text-center social fs-lg-6 fs-xl-5 m-0">Le informazioni fornite su questo sito sono solo a scopo informativo e
                    non costituiscono consulenza finanziaria. Si prega di consultare un consulente finanziario prima di
                    prendere decisioni di investimento. Investire comporta rischi, inclusa la perdita del capitale.</p>
            </div>
            <div class="col-12 col-lg-3 p-0 text-center fs-lg-5 social">
                <p class=" m-0">
                    <a href="/termini-di-servizio">Termini di Servizio</a> |
                    <a href="/privacy-policy">Privacy Policy</a> |
                    <a href="mailto:info@nomedeltuosito.com">Contattaci</a>
                </p>
            </div>
        </div>

    </div>
</footer> -->

<!-- <footer class="footer">
    <div class="container-fluid my-2">
        <div class="row align-items-center justify-content-between">

            <div class="col-12 col-lg-6 text-center mb-1">
                <img width="20" src="./assets/triangle.png" alt="logo">
            </div>
            
            <div class="social col-12 col-lg-6 text-center mb-1">
                <a class="p-2 fs-md-1" href="#"><i class="fa fa-facebook"></i></a>
                <a class="p-2 fs-md-1" href="#"><i class="fa fa-instagram"></i></a>
                <a class="p-2 fs-md-1" href="#"><i class="fa fa-youtube"></i></a>
                <a class="p-2 fs-md-1" href="#"><i class="fa fa-twitter"></i></a>
            </div>

            <div class="col-12 social col-lg-3 p-0 text-center fs-lg-5">
                <p class="m-0">&copy; 2024 NomeDelTuoSito. Tutti i diritti riservati.</p>
            </div>

            <div class="col-12 social  m-1 m-md-0 px-4 p-md-0 col-lg-6 justify-content-center">
                <p class="text-center fs-lg-6 fs-xl-5 m-0">
                    Le informazioni fornite su questo sito sono solo a scopo informativo e non costituiscono consulenza finanziaria.
                    Si prega di consultare un consulente finanziario prima di prendere decisioni di investimento. Investire comporta rischi,
                    inclusa la perdita del capitale.
                </p>
            </div>

            <div class="col-12 social  col-lg-3 p-0 text-center fs-lg-5">
                <p class="m-0">
                    <a [routerLink]="['/termini-di-servizio']">Termini di Servizio</a> |
                    <a [routerLink]="['/privacy-policy']">Privacy Policy</a> |
                    <a [routerLink]="['/contattaci']">Contattaci</a>
                </p>
            </div>
        </div>
    </div>
</footer> -->
<footer class="footer mt-5 pb-3">
    <div class="container-fluid my-2">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 my-1 col-lg-6 text-center my-3">
          <img width="100" src="./assets/img/ICON_LOGO-ICON-WHITE.png" alt="logo">
        </div>
        
        <div class="social col-12 my-1 col-lg-6 text-center mb-1">
          <a class="p-2 fs-2 fs-md-3" href="#"><i class="fa fa-facebook"></i></a>
          <a class="p-2 fs-2 fs-md-3" href="#"><i class="fa fa-instagram"></i></a>
          <a class="p-2 fs-2 fs-md-3" href="#"><i class="fa fa-youtube"></i></a>
          <a class="p-2 fs-2 fs-md-3" href="#"><i class="fa fa-twitter"></i></a>
        </div>
  
        <div class="col-12 my-1 social col-lg-3 p-0 text-center fs-1 fs-lg-1">
          <p class="m-0">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
        </div>
  
        <div class="col-12 my-1 social m-1 m-lg-0 px-4 p-lg-0 col-lg-6 justify-content-center">
          <p class="text-center fs-lg-6 fs-5 fs-xl-1 m-0">{{ 'FOOTER.DISCLAIMER' | translate }}</p>
        </div>
  
        <div class="col-12 my-1 social col-lg-3 p-0 text-center fs-1 fs-lg-1">
          <p class="m-0">
            <a [routerLink]="['/termini-di-servizio']">{{ 'FOOTER.LINKS.TERMS_OF_SERVICE' | translate }}</a> |
            <a [routerLink]="['/privacy-policy']">{{ 'FOOTER.LINKS.PRIVACY_POLICY' | translate }}</a> |
            <a [routerLink]="['/contattaci']">{{ 'FOOTER.LINKS.CONTACT_US' | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  
