<footer class="footer mt-5 pb-2 pt-3">
    <div class="container-fluid my-2">
        <div class="row align-items-start ">
            <div class="col-12 col-xxl-1 me-xxl-3 my-1 p-0 col-md-1 text-start my-3">
                <img  class="ps-3 mb-lg-5 pb-lg-5 w-20  w-md-100 w-xxl-75" src="../../../assets/img/ICON_LOGO-ICON-TEXT-WHITE.png" alt="logo">
            </div>

            <div class="col-12 col-lg-10 social ms-lg-5 mt-3">
                <div class="row ms-md-2 justify-content-center text-center">
                    <div class="col-12 px-lg-5 px-xxl-4 fs-13 fs-sm-2 fs-xl-14 pe-md-4  my-1 m-0 ">{{ 'FOOTER.DISCLAIMER' | translate }}</div>
                    <div class="col-12 m-0 my-1 p-0 fs-xl-14 fs-1 fs-sm-2">{{ 'FOOTER.COPYRIGHT' | translate}} </div>

                

                    <div class=" col-12 social my-1 fs-13 fs-xl-14 fs-sm-2 ">
                        <p class="m-0">
                            <a class="over" [routerLink]="['/termini-di-servizio']">{{ 'FOOTER.LINKS.TERMS_OF_SERVICE' | translate }}</a> |
                            <a class="over" [routerLink]="['/privacy-policy']">{{ 'FOOTER.LINKS.PRIVACY_POLICY' | translate }}</a> |
                            <a class="over" [routerLink]="['/contattaci']">{{ 'FOOTER.LINKS.CONTACT_US' | translate }}</a>
                        </p>
                    </div> 
                    
                    <div class="social mt-1 col-12">
                        <a class="p-2 fs-3 fs-sm-12 over " [routerLink]="['/social']"><i class="fa fa-facebook"></i></a>
                        <a class="p-2 fs-3 fs-sm-12 over " [routerLink]="['/social']"><i class="fa fa-instagram"></i></a>
                        <a class="p-2 fs-3 fs-sm-12 over " [routerLink]="['/social']"><i class="fa fa-youtube"></i></a>
                        <a class="p-2 fs-3 fs-sm-12 over " [routerLink]="['/social']"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
           


        </div>
    </div>
</footer>